<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyPasswordRecoveryWiFi.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EasyPasswordRecoveryWiFi.Settings>
            <setting name="Timeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DictionaryCasing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>PasswordStorage.txt</value>
            </setting>
            <setting name="OverwriteFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DictionariesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value />
            </setting>
        </EasyPasswordRecoveryWiFi.Settings>
    </userSettings>
</configuration>